{% extends 'main2.html' %}
{% block content %}
{% load static %}
<div class="row">

</div>

    <div class="row" style="margin-top: 100px;">
        <div class="container">
            <div class="row" id="aboutus">
                <h2 class="font-weight-bold" style="color: lightseagreen;  font-size: 50px;">
                    Our Eye surgeons (Ophthalmologist)
                </h2>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <p style="color:black;font-size: 18px; font-weight: bold;" >Dr. Upali Karunarathna</p>
                    <p style="color:black;font-size: 16px;  "> MBBS, (SL), MD (Ophthalmology) </p>
                    <p style="color:black;font-size: 18px;font-weight: bold;" > Dr. Aruna Fernando</p>
                    <p style="color:black;font-size: 16px;"> MBBS, (SL), MD (Ophthalmology)</p>
                    <p style="color:black;font-size: 18px; font-weight: bold;" > Dr. Kasun Rathnayaka</p>
                    <p style="color:black;font-size: 16px;"> MBBS, (SL), MD (Ophthalmology)</p>

                </div>
                <div class="col-md-6" >
                    <p style="color:black;font-size: 18px;" >Why B Medical Eye Clinic?</p>
                    <p style="color:black;font-size: 16px;">
                        We provide services to patients of all ages with a variety of Skin problems, including problems that affect hair & nails.
                        Our medical services embrace your natural beauty. We are committed to providing you with state of the art treatments and the highest safety protocols in place in this country.
                        Our goal is to provide you with personalized treatments and services over the years, focusing on your goals and desired outcome. 
                        Our providers bring you over 60 years of combined experience since 1956. We offer you the most advanced therapeutic & cosmetic Dermatology treatments and the latest of technologies.We hope your experience at Skin Clinic exceeds your expectations.
                    </p>
                </div>

            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>


     
{% endblock %}
