{% extends 'main.html' %}
{% block content %}


<div style="background-color:#C2DFFF;" >
<div class="rounded-pill text-center fw-bold fs-4 shadow p-3 mb-4 bg-body rounded "  
style = "background-color:yellow; width:300px; margin-left:500px;">
  Nurse Management
</div>


<div class="row">
    <div class=" p-3 my-3  col-md-4"  >
		<form method = "POST"  style="margin-left:10px;" class="pl-3">
			{% csrf_token %}

				<div class="row mb-3">
    				<label  class="col-sm-2 col-form-label fw-bold">User</label>
   					<div class="col-sm-10">
     					 <!--<input type="email" class="form-control" >-->
     					 {{form.user}}
    				</div>
  				</div>

  				<div class="row mb-3">
    				<label  class="col-sm-2 col-form-label fw-bold">DOB</label>
   					<div class="col-sm-10">
     					 <!--<input type="email" class="form-control" >-->
     					 {{form.dob}}
    				</div>
  				</div>

  				<div class="row mb-3">
    				<label  class="col-sm-2 col-form-label fw-bold">Contact</label>
   					<div class="col-sm-10">
     					 <!--<input type="email" class="form-control" >-->
     					 {{form.contact}}
    				</div>
  				</div>
			
			
			<input type="submit" value="Add New " style="color: black" class="btn btn-outline-info  border-2 fw-bold btn-sm fst-italic float-end">
		</form>
    </div>
    <div class="p-3 my-3  col-md-8  " >
		<div class= "row "> 
			<form method = "GET" class=" pl-5 row mt-2">

	  			<div class="col-md-3 ">
	  				<div class="row ">
    					<label  class="col-sm-3 col-form-label fw-bold pr-2 ">User</label>
   						<div class="col-sm-7 ">
     					 <!--<input type="email" class="form-control" >-->
     					 	{{filter.form.user}}
    					</div>
  					</div>
	  			</div>
	  			<div class="col-md-4 ">
	  				<div class="row ">
    					<label  class="col-sm-3 col-form-label fw-bold ">DOB</label>
   						<div class="col-sm-7 ">
     					 <!--<input type="email" class="form-control" >-->
     					 	{{filter.form.dob}}
    					</div>
  					</div>
	  			</div>
	  			<div class="col-md-4 ">
	  				<div class="row mb-3">
    					<label  class="col-sm-3 col-form-label fw-bold pr-2">Contact</label>
   						<div class="col-sm-7 ">
     					 <!--<input type="email" class="form-control" >-->
     					 	{{filter.form.contact}}
    					</div>
  					</div>
	  			</div>
				<div class="col-md-1 ">
					<input type="submit" value="Search " class="btn btn-success btn-sm float-end ">
				</div>
						
			
		</form>
		
		</div>
		<div class= "row pt-3 pl-5 pr-4">

					<table class="table table-striped  table-hover caption-top ">
						<thead class="thead-dark table-active">
							<tr>
								<th scope="col">User name</th>
								<th scope="col">Date of Birth</th>
								<th scope="col">Contact</th>
								<th scope="col">View</th>
								
							</tr>
						</thead>
				  
						<tbody>
							{% for nurse in nurses %}
							<tr>
								<td>{{nurse.user.username}}</td>
								<td>{{nurse.dob}}</td>
								<td>{{nurse.contact}}</td>
								<td>
									<a class="btn btn-outline-warning btn-sm border-2 fst-italic fw-bold" href = "../update_nurse/{{nurse.user_id}}" style="color: black;" >View</a>
									<a class="btn btn-outline-danger btn-sm fw-bold border-2 fst-italic" href = "../deletenurse/{{nurse.user_id}}"> Delete</a></td>
							</tr>
							{% endfor %}
						</tbody>
				  
					</table>




		</div>

		
    </div>
</div>
  
</div>

{% endblock %}



















<!-- nurse
<form method="POST">
	{% csrf_token %}
	{{form}}
	<input type = "submit" value ="create"/>
	
</form>

<form method = "GET">
	
	{{filter.form}}
	<input type="submit" value="Search ">
</form>


<table border = "1"> 
	<tr>
	<th>user name</th>
	<th>Date of Birth</th>
	<th>contact number</th>
	<th>update</th>
	<th>Delete</th>
	</tr>
	{% for nurse in nurses %}
	<tr>
	<td>{{nurse.user.username}}</td>
	<td>{{nurse.dob}}</td>
	<td>{{nurse.contact}}</td>
	<td><a href = "../update_nurse/{{nurse.user_id}}">Update</a></td>
	<td><a href = "../delete_nurse/{{nurse.user_id}}">Delete</a></td>
	</tr>
	{% endfor %}
	
</table> -->