
{% extends 'main.html' %}
{% block content %}


<div style="background-color:#C2DFFF; " >
<div class="rounded-pill text-center fw-bold fs-6 shadow p-3 mb-4 bg-body rounded " style = "background-color:red; width:300px; margin-left:500px;">
Avarage Patients Count </div>
  
</div>
<form method = "POST"  style="margin-left:10px;" class="pl-3">
<div class="row ">
    <div class="col-md-6 form-group">
        <div class="row">
            <label  class="col-sm-4 col-form-label fw-bold">From Date </label>
            <input type="Date" name="" class=" col-sm-6 col-form-label">      
        </div>
    </div>

    <div class="col-md-6 form-group">
        <div class="row">

            <label  class="col-sm-4 col-form-label fw-bold">To Date </label>
            <input type="Date" name="" class=" col-sm-6 col-form-label">   

         
        </div>
</div>


</form>
<div>
    <canvas id="myChart2" width="400" height="100"></canvas>
</div>

<script type="text/javascript">
    

$(document).ready(function(){
    var ctx = document.getElementById('myChart2').getContext('2d');
    var config = {
        type: 'bar',
        data: {
            labels:[{% for clinic in clinics %}'{{clinic.name}}',{% endfor %}],
            datasets:[{
                label:'# Avarage Patients Count',
                data:[{% for clinic in clinics %}'{{clinic.avg_occupied}}',{% endfor %}],

            backgroundColor: [
                'rgba(255, 99, 132, 0.5)'
            ],
            
            borderColor: [
                'rgba(255, 159, 64, 1)'
            ]}


            ]
        },
        options:{},

    };
    var myChart = new Chart(ctx, config);
});


$('#cmbDiagnosis').change(function(){

  alert(this.value);

});


/*doctor filter by clinic*/

$('#cmbClinic2').change(function(){

  /*alert("hello");*/

  var combo = document.getElementById('cmbClinic2');
  var clinic_id = combo.value;

  $.ajax({
    url:'/api/clinic/' + clinic_id,
    
 
    success:function(data){
       /*console.log(data);*/
       var designation = parseInt(data.designation);



        $.ajax({
            url:'../api/designation_employees/',
            data:{
              'designation_id':designation

            },
            
            success:function(data){
               /*console.log(data);*/
               
               var cmbDoctor =  document.getElementById('cmbDoctor');
               cmbDoctor.disabled = false;
               cmbDoctor.innerHTML = '<option disabled selected >your doctor</option>';
               data.forEach(function(doctor){
                var option = document.createElement('option');
                option.value = doctor.user__id;
                option.innerHTML = doctor.user__username;
                /*console.log(option);*/
                cmbDoctor.appendChild(option);
              
              });

            }

        });

    }

  });

});




</script>




{% endblock %}

